#titulo{
    text-align: center;
}

.Pc{
    text-align: center;
}

body{
            
}

.clasea{
    background-image: url('../img/imagenFondo.png');
            width: 100%;
            background-size: cover; 
            background-repeat: no-repeat; 
            display: flex;
            justify-content: flex-end;
            height: 100vh;
            position: fixed;
            width: 100%;
            
}

.primerarticle{
    margin-bottom: 100px;
    width:45%;
    float:right;
    padding: 20px;
    margin-top: 20px;
    position: absolute;

}
.claseb{
    margin-left: 50%;
}